/* Navbar.css */
.navbar {
    width: 100%;
    background-color: #242424; 
    color: #fff;
    padding: 15px 10%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;      
    justify-content: space-between; 
    z-index: 10;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3); 
}

/* ปรับขนาดโลโก้ */
.navbar img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.navbar ul {
    display: flex;      
    list-style: none;   
    gap: 30px;         
}

.navbar li {
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.navbar li:hover {
    color: #d0731c; 
}