* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.hero-section {
  width: 100%;
  height: 100vh; 
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
              url('./assets/BG-1.gif'); 
  
  background-size: cover;
  background-position: center;
  
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-content button {
  padding: 12px 30px;
  font-size: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-content button:hover {
  background-color: #535bf2;
  transform: scale(1.05);
}

